<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="projectForm" (ngSubmit)="onSubmitProjectForm()">
        <div class="form-group">
          <label for="projectName">Project Name</label>
          <input type="text" name="projectName" id="projectName" formControlName="projectName" class="form-control">
          <div *ngIf="projectForm.get('projectName').touched && !projectForm.get('projectName').valid && projectForm.get('projectName').errors">
            <span class="help-block" *ngIf="projectForm.get('projectName').errors['required']">Please enter your project name</span>
            <span class="help-block" *ngIf="projectForm.get('projectName').errors['forbiddenName']">You can't have this as a project name.</span>
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" name="email" id="email" formControlName="email" class="form-control">
          <div *ngIf="projectForm.get('email').touched && !projectForm.get('email').valid">
            <span class="help-block" *ngIf="projectForm.get('email').errors['required']; else invalid">Please enter your email</span>
            <ng-template #invalid>
              <span class="help-block">Please provide a valid email</span>
            </ng-template>
          </div>
        </div>
        <div class="form-group">
          <label for="status">Status</label>
          <select name="status" id="status" [formControlName]="'status'" class="form-control">
            <option *ngFor="let status of statuses" [value]="status">{{ status }}</option>
          </select>
        </div>
        <div class="form-group">
          <button class="btn btn-default" [disabled]="!projectForm.valid">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
