<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="col-xs-3">
        <h3>Raw Data</h3>
        <ul>
          <li *ngFor="let item of data">{{ item }}</li>
        </ul>
      </div>
      <div class="col-xs-3">
        <h3>Reversed</h3>
        <ul>
          <li *ngFor="let item of data">{{ item | reverse }}</li>
        </ul>
      </div>
      <div class="col-xs-3">
        <h3>Sorted</h3>
        <ul>
          <li *ngFor="let item of data | sort">{{ item }}</li>
        </ul>
      </div>
      <div class="col-xs-3">
        <h3>Sorted by Property</h3>
        <ul>
          <li *ngFor="let item of dataObjects | sort:'age'">{{ item.name }} ({{ item.age }})</li>
        </ul>
      </div>
    </div>
  </div>
</div>
